<!-- <ul>
  <li *ngFor="let movie of MyMovies">
    <p>{{movie.Title}}</p>
    <p>{{movie.Year}}</p>
    <img src={{movie.Poster}}>
  </li>
</ul> -->

<mat-accordion *ngFor="let movie of MyMovies">
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3> {{ movie.title }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ movie.year }}</h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <img src="{{movie.poster}}">
    <mat-action-row>
    <button mat-button color="primary">EDIT</button>
    <button mat-button color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>
